In [7]:
import pandas as pd
from functools import reduce

ALLSKY_SFC_SW_DW = "nasa_data/ALLSKY_SFC_SW_DWN.csv"
max_temp = "nasa_data/max_temp.csv"
max_WS2M = "nasa_data/max_WS2M.csv"
min_temp = "nasa_data/min_temp.csv"
min_WS2M = "nasa_data/min_WS2M.csv"
prectotcorr = "nasa_data/prectotcorr.csv"
RH2M = "nasa_data/RH2M.csv"
temp = "nasa_data/temp.csv"
WS2M = "nasa_data/WS2M.csv"


df1 = pd.read_csv(ALLSKY_SFC_SW_DW, skiprows=9)
df2 = pd.read_csv(temp, skiprows=9)
df3 = pd.read_csv(max_temp, skiprows=9)
df4 = pd.read_csv(min_temp, skiprows=9)
df5 = pd.read_csv(prectotcorr, skiprows=9)
df6 = pd.read_csv(RH2M, skiprows=9)
df7 = pd.read_csv(WS2M, skiprows=9)
df8 = pd.read_csv(min_WS2M, skiprows=9)
df9 = pd.read_csv(max_WS2M, skiprows=9)

dfs = [df1, df2, df3, df4 , df5, df6 ,df7,df8 , df9]

nasa_df = reduce(lambda left, right: pd.merge(left, right, on=["LAT","LON","YEAR","DOY"]), dfs)

nasa_df.to_csv("merged24.csv", index=False)

nasa_df

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
0,23.5,27.5,2024,1,16.88,12.77,20.31,7.04,0.00,58.18,2.73,1.65,3.87
1,23.5,32.5,2024,1,16.95,17.19,24.74,10.83,0.00,51.28,3.06,1.55,4.42
2,24.5,27.5,2024,1,16.27,11.64,18.79,6.10,0.00,62.25,2.39,1.50,3.61
3,24.5,32.5,2024,1,16.46,15.96,23.56,10.00,0.00,56.44,2.92,1.33,4.25
4,25.5,27.5,2024,1,15.46,11.86,18.96,6.36,0.00,62.00,1.98,1.08,3.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6583,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60
6584,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87
6585,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88
6586,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62
6587,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26

In [8]:
nasa_df.describe()

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
count,6588.000000,6588.00000,6588.0,6588.000000,6588.000000,6588.000000,6588.000000,6588.000000,6588.00000,6588.000000,6588.000000,6588.000000,6588.000000
mean,27.500000,30.00000,2024.0,183.500000,22.357694,22.878907,29.644022,16.854047,0.09690,43.311594,3.307969,1.828840,4.983062
std,2.582185,2.50019,0.0,105.662725,5.781069,7.531651,8.159390,7.096485,0.83785,19.047464,1.073872,0.999549,1.261756
min,23.500000,27.50000,2024.0,1.000000,2.730000,5.500000,10.160000,1.090000,0.00000,6.000000,0.690000,0.010000,1.060000
25%,25.500000,27.50000,2024.0,92.000000,17.340000,16.330000,22.510000,10.630000,0.00000,26.305000,2.590000,1.190000,4.147500
50%,27.500000,30.00000,2024.0,183.500000,23.230000,22.785000,29.240000,17.125000,0.00000,42.045000,3.220000,1.650000,4.980000
75%,29.500000,32.50000,2024.0,275.000000,27.650000,29.712500,37.292500,23.172500,0.00000,58.772500,3.940000,2.300000,5.800000
max,31.500000,32.50000,2024.0,366.000000,31.480000,38.660000,47.570000,32.110000,22.27000,95.510000,10.340000,7.840000,12.180000

In [9]:
nasa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6588 entries, 0 to 6587
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LAT                6588 non-null   float64
 1   LON                6588 non-null   float64
 2   YEAR               6588 non-null   int64
 3   DOY                6588 non-null   int64
 4   ALLSKY_SFC_SW_DWN  6588 non-null   float64
 5   T2M                6588 non-null   float64
 6   T2M_MAX            6588 non-null   float64
 7   T2M_MIN            6588 non-null   float64
 8   PRECTOTCORR        6588 non-null   float64
 9   RH2M               6588 non-null   float64
 10  WS2M               6588 non-null   float64
 11  WS2M_MIN           6588 non-null   float64
 12  WS2M_MAX           6588 non-null   float64
dtypes: float64(11), int64(2)
memory usage: 669.2 KB

In [10]:

ALLSKY_SFC_SW_DW = "nasa2022/POWER_Regional_Daily_20220101_20221231.csv"
max_temp = "nasa2022/POWER_Regional_Daily_20220101_20221231 (2).csv"
max_WS2M = "nasa2022/POWER_Regional_Daily_20220101_20221231 (7).csv"
min_temp = "nasa2022/POWER_Regional_Daily_20220101_20221231 (3).csv"
min_WS2M = "nasa2022/POWER_Regional_Daily_20220101_20221231 (8).csv"
prectotcorr = "nasa2022/POWER_Regional_Daily_20220101_20221231 (5).csv"
RH2M = "nasa2022/POWER_Regional_Daily_20220101_20221231 (4).csv"
temp = "nasa2022/POWER_Regional_Daily_20220101_20221231 (1).csv"
WS2M = "nasa2022/POWER_Regional_Daily_20220101_20221231 (6).csv"


df1 = pd.read_csv(ALLSKY_SFC_SW_DW, skiprows=9)
df2 = pd.read_csv(temp, skiprows=9)
df3 = pd.read_csv(max_temp, skiprows=9)
df4 = pd.read_csv(min_temp, skiprows=9)
df5 = pd.read_csv(prectotcorr, skiprows=9)
df6 = pd.read_csv(RH2M, skiprows=9)
df7 = pd.read_csv(WS2M, skiprows=9)
df8 = pd.read_csv(min_WS2M, skiprows=9)
df9 = pd.read_csv(max_WS2M, skiprows=9)

dfs = [df1, df2, df3, df4 , df5, df6 ,df7,df8 , df9]

nasa_df22 = reduce(lambda left, right: pd.merge(left, right, on=["LAT","LON","YEAR","DOY"]), dfs)

nasa_df22.to_csv("merged22.csv", index=False)

nasa_df22

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,29.5,32.5,2022,365,13.73,14.05,19.45,9.61,0.12,73.09,4.03,2.58,5.04
6566,30.5,27.5,2022,365,8.93,13.69,19.27,9.53,1.11,82.72,2.09,1.46,2.84
6567,30.5,32.5,2022,365,12.95,13.59,20.00,8.46,0.06,73.87,2.74,1.46,4.75
6568,31.5,27.5,2022,365,9.31,18.09,19.44,17.11,1.05,72.73,3.50,3.00,4.35
6569,31.5,32.5,2022,365,11.98,19.11,19.67,18.67,0.03,65.85,6.76,6.30,7.20

In [11]:

ALLSKY_SFC_SW_DW = "nasa2023/POWER_Regional_Daily_20230101_20231231.csv"
max_temp = "nasa2023/POWER_Regional_Daily_20230101_20231231 (2).csv"
max_WS2M = "nasa2023/POWER_Regional_Daily_20230101_20231231 (7).csv"
min_temp = "nasa2023/POWER_Regional_Daily_20230101_20231231 (3).csv"
min_WS2M = "nasa2023/POWER_Regional_Daily_20230101_20231231 (8).csv"
prectotcorr = "nasa2023/POWER_Regional_Daily_20230101_20231231 (5).csv"
RH2M = "nasa2023/POWER_Regional_Daily_20230101_20231231 (4).csv"
temp = "nasa2023/POWER_Regional_Daily_20230101_20231231 (1).csv"
WS2M = "nasa2023/POWER_Regional_Daily_20230101_20231231 (6).csv"


df1 = pd.read_csv(ALLSKY_SFC_SW_DW, skiprows=9)
df2 = pd.read_csv(temp, skiprows=9)
df3 = pd.read_csv(max_temp, skiprows=9)
df4 = pd.read_csv(min_temp, skiprows=9)
df5 = pd.read_csv(prectotcorr, skiprows=9)
df6 = pd.read_csv(RH2M, skiprows=9)
df7 = pd.read_csv(WS2M, skiprows=9)
df8 = pd.read_csv(min_WS2M, skiprows=9)
df9 = pd.read_csv(max_WS2M, skiprows=9)

dfs = [df1, df2, df3, df4 , df5, df6 ,df7,df8 , df9]

nasa_df23 = reduce(lambda left, right: pd.merge(left, right, on=["LAT","LON","YEAR","DOY"]), dfs)

nasa_df23.to_csv("merged23.csv", index=False)
nasa_df23

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
0,23.5,27.5,2023,1,16.74,11.51,18.20,6.18,0.00,62.79,4.36,2.83,5.67
1,23.5,32.5,2023,1,16.89,14.58,22.36,8.04,0.00,49.39,2.74,1.65,3.77
2,24.5,27.5,2023,1,15.94,10.74,17.43,5.71,0.00,67.90,4.05,2.82,5.86
3,24.5,32.5,2023,1,16.48,13.42,22.28,6.72,0.00,50.97,2.34,1.43,3.16
4,25.5,27.5,2023,1,15.76,11.72,18.16,7.39,0.01,67.20,3.79,2.37,5.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,29.5,32.5,2023,365,12.92,15.83,20.20,12.17,0.01,75.25,3.37,1.84,4.66
6566,30.5,27.5,2023,365,13.45,14.26,19.71,10.66,0.00,59.98,1.87,1.11,3.37
6567,30.5,32.5,2023,365,11.39,15.41,21.16,10.42,0.25,79.40,2.01,0.30,3.98
6568,31.5,27.5,2023,365,11.01,17.99,19.04,17.22,0.04,66.68,3.20,1.83,4.25
6569,31.5,32.5,2023,365,9.58,19.37,19.93,18.95,1.17,71.88,3.46,1.90,4.89

In [12]:

full_nasa_df = pd.concat([nasa_df22, nasa_df23, nasa_df], ignore_index=True)

full_nasa_df  = full_nasa_df .drop_duplicates()

full_nasa_df.to_csv("nasa_full_data.csv", index=False)

full_nasa_df

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26

In [36]:
full_nasa_df = pd.read_csv("nasa_full_data.csv")

In [37]:
full_nasa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19728 entries, 0 to 19727
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LAT                19728 non-null  float64
 1   LON                19728 non-null  float64
 2   YEAR               19728 non-null  int64
 3   DOY                19728 non-null  int64
 4   ALLSKY_SFC_SW_DWN  19728 non-null  float64
 5   T2M                19728 non-null  float64
 6   T2M_MAX            19728 non-null  float64
 7   T2M_MIN            19728 non-null  float64
 8   PRECTOTCORR        19728 non-null  float64
 9   RH2M               19728 non-null  float64
 10  WS2M               19728 non-null  float64
 11  WS2M_MIN           19728 non-null  float64
 12  WS2M_MAX           19728 non-null  float64
dtypes: float64(11), int64(2)
memory usage: 2.0 MB

In [38]:
full_nasa_df.describe()

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
count,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000
mean,27.500000,30.000000,2023.000912,183.166971,22.249481,22.549421,29.307384,16.557439,0.131833,44.053699,3.360113,1.857679,5.033173
std,2.582054,2.500063,0.816703,105.465454,5.826222,7.353321,8.056485,6.920764,1.060699,19.344345,1.153303,1.045358,1.385439
min,23.500000,27.500000,2022.000000,1.000000,2.730000,4.320000,10.160000,-1.420000,0.000000,6.000000,0.520000,0.000000,1.060000
25%,25.500000,27.500000,2022.000000,92.000000,17.217500,16.270000,22.417500,10.730000,0.000000,26.880000,2.560000,1.180000,4.120000
50%,27.500000,30.000000,2023.000000,183.000000,23.160000,22.870000,29.130000,17.160000,0.000000,42.630000,3.280000,1.670000,5.010000
75%,29.500000,32.500000,2024.000000,274.250000,27.520000,28.880000,36.440000,22.510000,0.000000,59.930000,4.060000,2.390000,5.890000
max,31.500000,32.500000,2024.000000,366.000000,31.600000,38.660000,47.570000,32.110000,52.100000,95.510000,10.940000,10.520000,12.340000

In [39]:
full_nasa_df.isnull().sum()

LAT                  0
LON                  0
YEAR                 0
DOY                  0
ALLSKY_SFC_SW_DWN    0
T2M                  0
T2M_MAX              0
T2M_MIN              0
PRECTOTCORR          0
RH2M                 0
WS2M                 0
WS2M_MIN             0
WS2M_MAX             0
dtype: int64

In [40]:
import numpy as np
full_nasa_df.replace(-999, np.nan, inplace=True)
full_nasa_df = full_nasa_df.dropna()
full_nasa_df

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26

In [41]:
full_nasa_df['date'] = pd.to_datetime(full_nasa_df['YEAR'].astype(str) + full_nasa_df['DOY'].astype(str), format='%Y%j')
full_nasa_df

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M,T2M_MAX,T2M_MIN,PRECTOTCORR,RH2M,WS2M,WS2M_MIN,WS2M_MAX,date
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02,2022-01-01
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85,2022-01-01
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13,2022-01-01
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44,2022-01-01
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60,2024-12-31
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87,2024-12-31
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88,2024-12-31
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62,2024-12-31
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26,2024-12-31

In [42]:
full_nasa_df.columns= full_nasa_df.columns.str.lower().str.replace(' ', '_')
full_nasa_df

,lat,lon,year,doy,allsky_sfc_sw_dwn,t2m,t2m_max,t2m_min,prectotcorr,rh2m,ws2m,ws2m_min,ws2m_max,date
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02,2022-01-01
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85,2022-01-01
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13,2022-01-01
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44,2022-01-01
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60,2024-12-31
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87,2024-12-31
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88,2024-12-31
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62,2024-12-31
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26,2024-12-31

In [43]:
full_nasa_df = full_nasa_df.rename(columns={
    'allsky_sfc_sw_dwn': 'sunlight_power',
    't2m': 'temp',
    't2m_max': 'max_temp',
    't2m_min': 'min_temp',
    'prectotcorr': 'rainfall',
    'rh2m': 'humidity',
    'ws2m': 'wind_speed',
    'ws2m_min': 'min_wind_speed',
    'ws2m_max': 'max_wind_speed'
})
full_nasa_df

,lat,lon,year,doy,sunlight_power,temp,max_temp,min_temp,rainfall,humidity,wind_speed,min_wind_speed,max_wind_speed,date
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02,2022-01-01
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85,2022-01-01
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13,2022-01-01
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44,2022-01-01
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60,2024-12-31
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87,2024-12-31
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88,2024-12-31
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62,2024-12-31
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26,2024-12-31

In [44]:
features= full_nasa_df.drop(columns=['lat','lon','year','doy','date'])
features

,sunlight_power,temp,max_temp,min_temp,rainfall,humidity,wind_speed,min_wind_speed,max_wind_speed
0,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02
1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85
2,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13
3,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44
4,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57
...,...,...,...,...,...,...,...,...,...
19723,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60
19724,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87
19725,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88
19726,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62
19727,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26

In [45]:
features.describe()

,sunlight_power,temp,max_temp,min_temp,rainfall,humidity,wind_speed,min_wind_speed,max_wind_speed
count,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000,19728.000000
mean,22.249481,22.549421,29.307384,16.557439,0.131833,44.053699,3.360113,1.857679,5.033173
std,5.826222,7.353321,8.056485,6.920764,1.060699,19.344345,1.153303,1.045358,1.385439
min,2.730000,4.320000,10.160000,-1.420000,0.000000,6.000000,0.520000,0.000000,1.060000
25%,17.217500,16.270000,22.417500,10.730000,0.000000,26.880000,2.560000,1.180000,4.120000
50%,23.160000,22.870000,29.130000,17.160000,0.000000,42.630000,3.280000,1.670000,5.010000
75%,27.520000,28.880000,36.440000,22.510000,0.000000,59.930000,4.060000,2.390000,5.890000
max,31.600000,38.660000,47.570000,32.110000,52.100000,95.510000,10.940000,10.520000,12.340000

In [46]:
full_nasa_df

,lat,lon,year,doy,sunlight_power,temp,max_temp,min_temp,rainfall,humidity,wind_speed,min_wind_speed,max_wind_speed,date
0,23.5,27.5,2022,1,15.09,11.64,17.65,6.08,0.02,67.68,4.92,3.31,7.02,2022-01-01
1,23.5,32.5,2022,1,15.78,14.23,20.72,8.68,0.00,50.82,3.42,1.68,5.85,2022-01-01
2,24.5,27.5,2022,1,12.30,10.39,15.77,5.58,0.08,75.55,5.33,3.53,8.13,2022-01-01
3,24.5,32.5,2022,1,14.48,13.38,20.27,8.13,0.01,55.81,3.39,1.99,5.44,2022-01-01
4,25.5,27.5,2022,1,9.48,10.65,14.99,6.92,0.24,74.34,5.10,2.67,7.57,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,29.5,32.5,2024,366,11.66,13.16,17.06,9.87,0.36,71.14,3.74,2.51,5.60,2024-12-31
19724,30.5,27.5,2024,366,12.89,12.40,17.83,8.28,0.07,70.07,3.23,1.96,4.87,2024-12-31
19725,30.5,32.5,2024,366,11.30,11.92,17.47,7.37,0.93,75.27,2.84,1.29,4.88,2024-12-31
19726,31.5,27.5,2024,366,10.97,16.72,17.38,16.28,0.11,66.99,5.76,3.85,6.62,2024-12-31
19727,31.5,32.5,2024,366,9.46,16.98,17.45,16.42,2.35,70.25,5.94,4.06,7.26,2024-12-31

In [48]:

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(features)

scaled_df = pd.DataFrame(scaled, columns=features.columns)

In [49]:
scaled_df

,sunlight_power,temp,max_temp,min_temp,rainfall,humidity,wind_speed,min_wind_speed,max_wind_speed
0,-1.228869,-1.483642,-1.446993,-1.513952,-0.105436,1.221385,1.352573,1.389340,1.434114
1,-1.110436,-1.131411,-1.065924,-1.138261,-0.124292,0.349791,0.051928,-0.169974,0.589595
2,-1.707750,-1.653638,-1.680351,-1.586200,-0.048868,1.628233,1.708082,1.599800,2.235324
3,-1.333570,-1.247008,-1.121781,-1.217734,-0.114864,0.607754,0.025915,0.126583,0.293653
4,-2.191781,-1.618279,-1.777170,-1.392575,0.101979,1.565681,1.508650,0.777094,1.831110
...,...,...,...,...,...,...,...,...,...
19723,-1.817601,-1.276928,-1.520228,-0.966311,0.215115,1.400254,0.329399,0.624033,0.409142
19724,-1.606481,-1.380285,-1.424650,-1.196060,-0.058296,1.344939,-0.112821,0.097884,-0.117780
19725,-1.879393,-1.445563,-1.469336,-1.327552,0.752510,1.613758,-0.450988,-0.543061,-0.110562
19726,-1.936034,-0.792780,-1.480507,-0.040089,-0.020585,1.185715,2.080934,1.905923,1.145390
19727,-2.195214,-0.757421,-1.471819,-0.019859,2.091284,1.354244,2.237011,2.106816,1.607349