In [11]:
import pandas as pd
from functools import reduce

ALLSKY_SFC_SW_DW = "nasa_data/ALLSKY_SFC_SW_DWN.csv"
max_temp = "nasa_data/max_temp.csv"
max_WS2M = "nasa_data/max_WS2M.csv"
min_temp = "nasa_data/min_temp.csv"
min_WS2M = "nasa_data/min_WS2M.csv"
prectotcorr = "nasa_data/prectotcorr.csv"
RH2M = "nasa_data/RH2M.csv"
temp = "nasa_data/temp.csv"
WS2M = "nasa_data/WS2M.csv"


df1 = pd.read_csv(ALLSKY_SFC_SW_DW, skiprows=9)
df2 = pd.read_csv(max_temp, skiprows=9)
df3 = pd.read_csv(max_WS2M, skiprows=9)
df4 = pd.read_csv(min_temp, skiprows=9)
df5 = pd.read_csv(prectotcorr, skiprows=9)
df6 = pd.read_csv(RH2M, skiprows=9)
df7 = pd.read_csv(temp, skiprows=9)
df8 = pd.read_csv(WS2M, skiprows=9)
df9 = pd.read_csv(min_temp, skiprows=9)

dfs = [df1, df2, df3, df4 , df5, df6 ,df7,df8 , df9]

nasa_df = reduce(lambda left, right: pd.merge(left, right, on=["LAT","LON","YEAR","DOY"]), dfs)

nasa_df.to_csv("merged.csv", index=False)

nasa_df

,LAT,LON,YEAR,DOY,ALLSKY_SFC_SW_DWN,T2M_MAX,WS2M_MAX,T2M_MIN_x,PRECTOTCORR,RH2M,T2M,WS2M,T2M_MIN_y
0,23.5,27.5,2024,1,16.88,20.31,3.87,7.04,0.00,58.18,12.77,2.73,7.04
1,23.5,32.5,2024,1,16.95,24.74,4.42,10.83,0.00,51.28,17.19,3.06,10.83
2,24.5,27.5,2024,1,16.27,18.79,3.61,6.10,0.00,62.25,11.64,2.39,6.10
3,24.5,32.5,2024,1,16.46,23.56,4.25,10.00,0.00,56.44,15.96,2.92,10.00
4,25.5,27.5,2024,1,15.46,18.96,3.26,6.36,0.00,62.00,11.86,1.98,6.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6583,29.5,32.5,2024,366,11.66,17.06,5.60,9.87,0.36,71.14,13.16,3.74,9.87
6584,30.5,27.5,2024,366,12.89,17.83,4.87,8.28,0.07,70.07,12.40,3.23,8.28
6585,30.5,32.5,2024,366,11.30,17.47,4.88,7.37,0.93,75.27,11.92,2.84,7.37
6586,31.5,27.5,2024,366,10.97,17.38,6.62,16.28,0.11,66.99,16.72,5.76,16.28
6587,31.5,32.5,2024,366,9.46,17.45,7.26,16.42,2.35,70.25,16.98,5.94,16.42

In [12]:
df.describe()

                LAT           LON     YEAR          DOY  ALLSKY_SFC_SW_DWN
count  26352.000000  26352.000000  26352.0  26352.00000       26352.000000
mean      27.500000     30.000000   2024.0    183.50000          22.369564
std        2.582038      2.291331      0.0    105.65671           5.778687
min       23.500000     26.500000   2024.0      1.00000           2.730000
25%       25.500000     28.250000   2024.0     92.00000          17.390000
50%       27.500000     30.000000   2024.0    183.50000          23.230000
75%       29.500000     31.750000   2024.0    275.00000          27.710000
max       31.500000     33.500000   2024.0    366.00000          31.540000